<nav class="bg-[#3778C2] text-white py-2">
  <ul class="flex justify-between mr-4">
    <li class="text-3xl">
      <%= link_to user_groups_path(current_user), class: "text-white" do %>
        <i class="fa fa-arrow-left"></i>
      <% end %>
    </li>
    <li>
      <h2 class="font-bold text-2xl">New Transaction</h2>
    </li>
    <li class="font-bold text-4xl">
      <%= button_to destroy_user_session_path, method: :delete do %>   
        <i class="fa fa-sign-out"></i>
      <% end %>
    </li>
  </ul>
</nav>

<div class="py-20">
  <%= render "form", trade: @trade %>
</div>

<br>


